* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1440px;
    height: 4291px;
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid;
    overflow: hidden;
}

.box {
    width: 1440px;
    height: 72px;
    box-shadow: 0px 4px 12px 0px #CFCFCF40;
    padding: 0px 20px;



}

.header_logo {
    position: relative;
    left: 150px;
    top: 26px;

}

ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
    margin-left: 340px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.95px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;



}

.text {
    text-decoration: none;
    color: #70737C;
    cursor: pointer;
}

.chiziq {
    width: 2px;
    height: 20px;
    border: 1px 0px 0px 0px;
    top: 24px;
    left: 450px;
    border: 1px solid #EFEFEF
}

.navbar_icons {
    position: relative;
    top: -20px;
    left: 930px;
    gap: 10px;
    width: 56px;
    height: 24px;
    /* top: 24px;
    left: 834px; */

}

.bi-facebook {
    margin-left: 10px;
}

.navbar {
    margin-left: -50px;
}

.icon {
    text-decoration: none;
    opacity: 50%;
    color: #70737C;
}

.input_search {
    position: relative;
    width: 285px;
    height: 48px;
    top: -60px;
    left: 960px;
    gap: 0px;
    border: 1px solid;
    border-radius: 71px;
    padding: 0px 50px;
    opacity: 50%;
    outline: none;
}
.bi-search{
    position: relative;
    top: -60px;
    left: 690px;
}
.bi-heart{

}
.ALL{
    cursor: pointer;
}
.ABOUT{
    cursor: pointer;
}